# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/
.env

# Docker
*.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
.coverage
htmlcov/
.pytest_cache/
