Babel
Django
Faker
Markdown
PyJWT
PyYAML
Pygments
XlsxWriter
amqp
annotated-types
anyio
arabic-reshaper
asgiref
asn1crypto
asttokens
attrs
autopep8
billiard
black
bleach
boto3
botocore
brotli
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coverage
cron_descriptor
cryptography
cssselect2
decorator
distro
django-anymail
django-celery-beat
django-celery-results
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-filter
django-formtools
django-haystack
django-js-asset
django-mptt
django-otp
django-phonenumber-field
django-redis
django-silk
django-simple-history
django-storages
django-stubs
django-stubs-ext
django-timezone-field
django-two-factor-auth
djangorestframework
djangorestframework-simplejwt
drf-spectacular
et_xmlfile
executing
factory-boy
flake8
flower
fonttools
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
gprof2dot
grpcio
grpcio-status
h11
html5lib
httpcore
httplib2
httpx
humanize
idna
inflection
iniconfig
ipython
isort
jedi
jiter
jmespath
joblib
jsonschema
jsonschema-specifications
kombu
lxml
matplotlib-inline
mccabe
mypy
mypy_extensions
narwhals
numpy
openai
openpyxl
oscrypto
packaging
pandas
parso
pathspec
phonenumbers
pillow
platformdirs
pluggy
prometheus_client
prompt_toolkit
proto-plus
protobuf
psycopg2-binary
pure_eval
pyasn1
pyasn1_modules
pycodestyle
pycountry
pycparser
pydantic
pydantic_core
pydyf
pyflakes
pyotp
pyparsing
pypdf
pyphen
pypng
pytesseract
pytest
pytest-cov
pytest-django
python-bidi
python-crontab
python-dateutil
python-slugify
pytz
qrcode
redis
referencing
requests
rpds-py
s3transfer
scikit-learn
scipy
sentry-sdk
six
sniffio
sqlparse
stack-data
svglib
text-unidecode
threadpoolctl
tinycss2
tornado
tqdm
traitlets
types-PyYAML
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
uritools
urllib3
vine
wcwidth
weasyprint
webencodings
whitenoise
zopfli
