{% extends "emails/base_email.html" %}

{% block content %}
    <h1>Reset your password</h1>
    <p>Hi {{ user_name }},</p>
    <p>We received a request to reset your password for your {{ company_name|default:"ERP System" }} account. Click the button below to choose a new password. This link is valid for {{ expires_hours|default:24 }} hours.</p>
    
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
            <tr>
                <td align="center">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td> <a href="{{ reset_url }}" target="_blank">Reset Password</a> </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p>If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged.</p>
{% endblock %}
